@import "tailwindcss";

@theme {
    --color-primary: #054e9f;
}

#root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}